html {
    width: 1000px;
}

p.linhafina {
    font-size:17px;
    text-align: justify;
}

p.explicacao {
    font-size:12px;
    text-align: justify;
}

.edados body {
  background: #fcfcfa;
  color: #333;
  font-family: "PT Serif", serif;
  margin: 1em auto 4em auto;
  position: relative;
  width: 900px;
}

h1 {
  font-family: "PT Sans", sans-serif;
  color: #000;
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
}

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

textarea {
  font-size: 100%;
}

body > pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
}

svg {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

sup, sub {
  line-height: 0;
}

q:before {
  content: "â€œ";
}

q:after {
  content: "â€";
}

blockquote q {
  line-height: 1.5em;
  display: inline;
}

blockquote q:before,
blockquote q:after {
  content: "";
}


#chart {
    margin-left: -40px;
    height: 506px;
}

text {
    font: 10px sans-serif;
}

.dot {
    stroke: #000;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

text.label {
    font-size: 12px;

}
.label {
    fill: #777;
}

.year.label {
    font: 500 120px "Helvetica Neue";
    fill: #ddd;
}

.year.label.active {
    fill: #aaa;
}

.overlay {
    fill: none;
    pointer-events: all;
    cursor: ew-resize;
}

.selecionada {
    padding-left:
}

a.selecionada {
    width:50 !important;
}
a.nao-selecionada {
    width:50 !important;
}
div.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 6px;
  margin-left: 35px;
  font: 14px Arial;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
